<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% content.forEach((book) =>{ %>
       <ul>
        <li>
            Title of the Manga: <%=  book.title  + "," %>  Author:  <%= book.author %>
        </li>
       </ul> 
    <% }) %>

    <form action="/edit" method="post">
        <label for="title-name">Enter the name of the title: </label>
        <input type="text" name="title">
        <label for="author-name">Enter the name of the author: </label>
        <input type="text" name="author">
        <input type="submit" value="submit">
    </form>
</body>
</html>